{% extends "base.html" %}

{% block title %}Job Dashboard{% endblock %}
{% block navbar_menuitems %}
<li class="nav-item">
    <a class="nav-link" href="/users/manage">Manage Users</a>
</li>
{% endblock %}
{% block content %}
<div class="jumbotron">
  {% csrf_token %}
  <div class="container">
    <h1>Everyone's Jobs</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          {% for col in everyones_jobs_data_columns %}
          <th scope="col">{{ col | safe }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in everyones_jobs_data_rows %}
        <tr>
          {% for col in row %}
          <td>{{ col | safe }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
{% endblock %}
{% block script %}
<script>
 
</script>
{% endblock %}
