{% extends "base.html" %}

{% block title %}Login and Registration{% endblock %}
{% block navbar_menuitems %}
<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/users/manage">Manage Users</a>
</li>
{% endblock %}
{% block content %}
<div class="jumbotron p-5 d-flex flex-column flex-lg-row justify-content-around">
        {% csrf_token %}
    <div class="card d-flex flex-column col-12 col-lg-5 p-0">
        <div class="card-body">
            <h1 class="card-title">Edit Profile</h1>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex flex-column flex-lg-row">
                <label class="col-12 col-lg-3 p-0" for="first_name">First Name</label>
                <input class="col-12 col-lg-8" type="text" name="first_name" id="first_name" value="{{ user.first_name }}">
            </li>
            <li class="list-group-item d-flex flex-column flex-lg-row">
                <label class="col-12 col-lg-3 p-0" for="last_name">Last Name</label>
                <input class="col-12 col-lg-8" type="text" name="last_name" id="last_name" value="{{ user.last_name }}">
            </li>
            <li class="list-group-item d-flex flex-column flex-lg-row">
                <label class="col-12 col-lg-3 p-0" for="email">Email</label>
                <input class="col-12 col-lg-8" type="email" name="email" id="email" value="{{ user.email }}">
            </li>
            {% if user_level_control_html != "" %}
            <li class="list-group-item d-flex flex-column flex-lg-row">
                <label class="col-12 col-lg-3 p-0" for="user_level">User Level</label>
                {{ user_level_control_html | safe }}
            </li>
            {% endif %}
        </ul>
        <div class="card-body">
            <button id="edit_profile_button" class="btn btn-primary col-6">Save</button>
        </div>
        <div id="edit_profile_status" class="card-body">
        </div>
    </div>
    <div class="card d-flex flex-column col-12 col-lg-5 p-0">
        <div class="card-body">
            <h1 class="card-title">Change Password</h1>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex flex-column flex-lg-row">
                <label class="col-12 col-lg-3 p-0" for="password">Password</label>
                <input class="col-12 col-lg-8" type="password" name="password" id="password" value="12345">
            </li>
            <li class="list-group-item d-flex flex-column flex-lg-row">
                <label class="col-12 col-lg-3 p-0" for="confirm_password">Confirm PW</label>
                <input class="col-12 col-lg-8" type="password" name="confirm_password" id="confirm_password" value="54321">
            </li>
        </ul>
        <div class="card-body">
            <button id="update_password_button" class="btn btn-primary col-6">Update Password</button>
        </div>
        <div id="update_password_status" class="card-body">
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function update_profile(user_id,first_name,last_name,email,user_level) {
        csrfToken = $('input[name ="csrfmiddlewaretoken"]')[0].value
        $.ajax({
            url: "/edit_profile_api",
            type: "POST",
            data: { 
                "user_id":user_id, 
                "first_name":first_name, 
                "last_name" : last_name, 
                "email" : email, 
                "user_level" : user_level,
                "csrfmiddlewaretoken" : csrfToken, 
                },
            cache:false,
            dataType: "json",
            success: function(resp){
                $('#edit_profile_status').html(resp.message);
                if (resp.status == "succeeded") {
                    $('#edit_profile_status').css('color','green');
                } else {
                    $('#edit_profile_status').css('color','red');
                }
            }
        });
    }
    function edit_profile() {
        user_id = {{ user.id }};
        first_name = $("#first_name").val();
        last_name = $("#last_name").val();
        email = $("#email").val();
        user_level = $('#user_level').val();
        if (user_level == undefined) {
            user_level = ""
        }
        // password = $("#password").val()
        // confirm_password = $("#confirm_password").val()
        validation_errors = ''
        validation_errors += validate_first_name(first_name);
        validation_errors += validate_last_name(last_name);
        validation_errors += validate_email(email);

        if (validation_errors.length > 0) {
            $('#edit_profile_status').html(validation_errors);
            $('#edit_profile_status').css('color','red');
            return false;
        } else {
            console.log(`edit_profile user_id:${user_id} first_name:${first_name} last_name:${last_name} email:${email} user_level:${user_level}`);
            update_profile(user_id,first_name,last_name,email,user_level);
        }
    }
    $('#edit_profile_button').click(edit_profile)
    function update_password(user_id, password) {
        csrfToken = $('input[name ="csrfmiddlewaretoken"]')[0].value
        $.ajax({
            url: "/update_password_api",
            type: "POST",
            data: { 
                "user_id":user_id, 
                "password":password, 
                "csrfmiddlewaretoken" : csrfToken, 
                },
            cache:false,
            dataType: "json",
            success: function(resp){
                $('#update_password_status').html(resp.message);
                if (resp.status == "succeeded") {
                    $('#update_password_status').css('color','green');
                } else {
                    $('#update_password_status').css('color','red');
                }
            }
        });
    }
    function edit_password() {
        user_id = {{ user.id }};
 
        password = $("#password").val()
        confirm_password = $("#confirm_password").val()
        validation_errors = ''
        validation_errors += validate_password(password, confirm_password);
        if (validation_errors.length > 0) {
            $('#update_password_status').html(validation_errors);
            $('#update_password_status').css('color','red');
            return false;
        } else {
            console.log(`edit_password user_id:${user_id}`);
            update_password(user_id,password);
        }
    }
    $('#update_password_button').click(edit_password)
</script>
{% endblock %}
