{% extends "base.html" %}

{% block title %}Manage Users{% endblock %}
{% block navbar_menuitems %}
{% endblock %}
{% block content %}
<div class="jumbotron">
    {% csrf_token %}
    <div class="container">
      {% if user_level == "admin" %}
      <h1 class="display-3">Manage Users</h1><a class="btn btn-primary btn-lg" href="/users/new" role="button">Add new &raquo;</a>
      {% endif %}
      {% for col in data_columns %}
      {% endfor %}
      <table class="table table-striped">
        <thead>
          <tr>
            {% for col in data_columns %}
            <th scope="col">{{ col | safe }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in data_rows %}
          <tr>
            {% for col in row %}
            <td>{{ col | safe }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}
{% block script %}
<script>
function set_user_level() {
  user_id = $(this).attr('user_id');
  user_level = $(this).val();
  console.log(`set_user_level user_id=${user_id} user_level=${user_level}`);
  csrfToken = $('input[name ="csrfmiddlewaretoken"]')[0].value
  $.ajax({
      url: "/set_user_level_api",
      type: "POST",
      data: { 
          "user_id":user_id, 
          "user_level" : user_level, 
          "csrfmiddlewaretoken" : csrfToken, 
          },
      cache:false,
      dataType: "json",
      success: function(resp){
          console.log(`status:${resp.status} message:${resp.message}`)
      }
  });
}
$('.user_level_dropdown').change(set_user_level)
</script>
{% endblock %}
