{% extends "base.html" %}

{% block title %}User Dashboard Home{% endblock %}
{% block navbar_menuitems %}
<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
{% endblock %}
{% block content %}
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Manage Users</h1><a class="btn btn-primary btn-lg" href="/users/new" role="button">Add new &raquo;</a>
      {% for col in data_columns %}
      {% endfor %}
      <table class="table table-striped">
        <thead>
          <tr>
            {% for col in data_columns %}
            <th scope="col">{{ col | safe }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in data_rows %}
          <tr>
            {% for col in row %}
            <td>{{ col | safe }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}
{% block script %}
<script>
</script>
{% endblock %}
